<button @onclick="OnClick">
	Click me!
</button>

@code {
	[Parameter]
	public EventCallback<MouseEventArgs> OnClick { get; set; }

	// private Task OnButtonClick(MouseEventArgs e)
	// {
	// 	return OnClick.InvokeAsync(e);
		// }
}